body {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* I love it! */
    font-family: Yuanti SC;
    font-weight: 300;
}

.title {
    width: 90%;
    max-width: 506px;
    height: 39px;
    display: flex;
    justify-content: space-between;
}
.title p {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 808px;
    padding-bottom: 2%;
}